<!DOCTYPE html>
<html th:replace="~{layout :: layout('Quiz List', ~{::div} , 'Quiz')}">
<body>

<div th:fragment="fragment" class="flex flex-col">
    <a th:href="@{/quiz/new/edit}" class="btn-primary w-fit">
        <img src="/icons/plus.svg">
        <span class="text-white text-base font-medium">New Quiz</span>
    </a>
    <ul role="list" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">

        <li
                th:each="quiz : ${quizzes}"
                class="assignment-card"
        >
            <a th:href="@{/quiz/{quizName}/edit(quizName=${quiz.name})}" class="assignment-header">
                <div>
                    <img src="/icons/pencil-alt.svg" />
                </div>
                <span th:text="${quiz.name}">Quiz Name</span>
            </a>
            <a th:href="@{/quiz/{quizName}/preview(quizName=${quiz.name})}" target="_blank" class="btn-secondary">
                <img class="w-6" src="/icons/eye.svg"/>
                Preview
            </a>
        </li>
    </ul>
</div>

</body>
